<app-header></app-header>

<div class="container">

        <div class="col-12 pregunta">
            <h2>P r e g u n t a s F r e c u e n t e s</h2>
        </div>

        <div class="accordion" id="accordionExample">
                <div class="card card1">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ¿Cuánto cuesta un tatuaje?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                        El precio está determinado por factores como: el tamaño, el estilo de tatuaje, la ubicación del mismos, el tipo de piel, la combinación de colores.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ¿Me puedo tatuar si estoy embarazada?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                        No se recomienda tatuarse durante el embarazo por: riesgo de infección, sistema inmunológico más vulnerable, sustancias en las tintas y posición incómoda durante la sesión del tatuaje.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ¿Duele hacerse un tatuaje?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Algunos de los factores que influyen son:<br>Zona del cuerpo: zonas con más carne y músculo (menos dolor); zonas sensibles o con hueso cerca (más dolor).<br> Tamaño y duración: tatuajes pequeños, molestia leve y rápida; tatuajes grandes o sesiones largas, el dolor puede aumentar con el tiempo por el desgaste de la piel.<br> Tu tolerancia al dolor personal.<br> Tu estado físico y emocional, si estás cansado/a, nervioso/a, con hambre o deshidratado/a, puedes sentir el dolor más intensamente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            ¿Duele hacerse un piercing?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                        El nivel de dolor varía según la zona del cuerpo, tu tolerancia personal y la técnica del profesional. Guía por zonas:<br>Piercings menos dolorosos (dolor leve, como un pellizco): lóbulo de la oreja, nariz y ombligo.<br> Piercings con dolor moderado: cartílago de la oreja, ceja, labio y septum.<br> Piercings más dolorosos (zonas sensibles o con muchos nervios): lengua, pezón y zona íntima.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            ¿Como se realiza el proceso de diseño y personalización de un tatuaje?
                            
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                        1. Consulta inicial: se habla de la idea general del tatuaje, el tamaño y su ubicación, el estilo artístico y se toman referencias visuales.<br>2. Boceto o diseño personalizado: con la información anterior se realiza un diseño, puede contener varias versiones y solicitarse ajustes por el cliente.<br>3. Aprobación y preparación del esténcil: una vez el cliente aprueba el diseño el artista del tatuaje lo adapta al tamaño y forma del cuerpo y se imprime la plantilla.<br>4. Cita para realizar el tatuaje en donde: se prepara de la piel (antes de tatuar se debe rasurar y limpiar la zona, y transferir el esténcil); se realiza el tatuaje; y se realiza limpieza en la zona y dan cuidados finales (al finalizar el tatuaje se limpia bien la zona y se cubre con film transparente o parche especial, y el tatuador explica los cuidados post tatuaje como lavado, crema, evitar sol, etc.).                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            ¿Cuánto tiempo tarda en sanar un tatuaje?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">
                        El tiempo estimado de sanación de un tatuaje es:<br>Capa externa de la piel (fase visible): de 5 a 14 días.<br>Capa interna de la piel (curación completa): de 4 a 6 semanas.<br>Una buena cicatrización depende 50% del tatuador y 50% de tus cuidados. Si ves signos de infección (pus, dolor intenso, enrojecimiento que se extiende, fiebre), acude a un médico.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix2">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix2" aria-expanded="false" aria-controls="collapseSix2">
                            ¿Cuánto tiempo tarda en sanar un piercing?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSix2" class="collapse" aria-labelledby="headingSix2" data-parent="#accordionExample">
                        <div class="card-body">
                        El tiempo de sanación de un piercing varía mucho dependiendo de la zona del cuerpo, el tipo de piel y qué tan bien sigas los cuidados. A diferencia de los tatuajes, los piercings tardan más en sanar completamente porque atraviesan tejido.<br>El tiempo promedio de cicatrización por tipo de piercing varia desde 6 semanas hasta un año.<br>Si ves enrojecimiento extremo, dolor punzante, secreción amarilla o verde, fiebre o inflamación severa son señales de posible infección, acude a un médico.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            ¿Es seguro hacerse un tatuaje/piercing?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                        <div class="card-body">
                        Hacerse un tatuaje y/o piercing puede ser seguro, siempre y cuando se realice en un estudio profesional, higiénico y con materiales adecuados. Sin embargo, como todo procedimiento en la piel, existen riesgos si no se toman precauciones.<br>Se recomienda:<br>Investiga el estudio y los artistas. Mira su portafolio, reseñas y nivel de higiene.<br>En el proceso del tatuaje o piercing verifica que usen guantes nuevos, agujas selladas y tintas certificadas.<br> Sigue todos los cuidados posteriores. Son esenciales para prevenir infecciones.<br>No te tatúes o realices una perforación si estás enfermo/a, con fiebre, embarazada o en tratamiento con anticoagulantes.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTuelve">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTuelve" aria-expanded="false" aria-controls="collapseTuelve">
                            ¿Qué métodos de pago aceptan?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTuelve" class="collapse" aria-labelledby="headingTuelve" data-parent="#accordionExample">
                        <div class="card-body">
                            Efectivo.<br> Tarjetas débito y crédito (se cobra un recargo del 4% del valor a pagar).<br> Transferencia bancaria a Nequi y Daviplata.
                        </div>
                    </div>
                </div>
        </div>
    </div>

<app-footer></app-footer>

