<app-header></app-header>

<div class="container">
        <h2>P o n t e E n C o n t a c t o</h2>
        <div class="descripcion">
            <p>No dudes en contactarnos con cualquier pregunta, comentario o consulta.</p>
            <p>Estamos aquí para ayudarte y proporcionarte la información que necesitas.</p>
            <p>Tu opinión es importante para nosotros y esperamos saber de ti.</p>
        </div>
        <div class="col-12 cita">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">¿Quien eres?</label>
                    <select class="form-control">
                        <option>---</option>
                        <option>Amante de los tatuajes</option>
                        <option>Amante de los piercings</option>
                        <option>Artista</option>
                        <option>Estudio</option>
                        <option>Otro</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" class="form-control" id="telefono">
                </div>
                <div class="form-group">
                    <label for="descripcion">¿Cómo podemos ayudarte?</label>
                    <textarea class="form-control" id="descripción" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary boton">Enviar</button>
            </form>
        </div>
    </div>

<app-footer></app-footer>
