<footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 titulof">
                    <h4>H o r a r i o s</h4>
                    <p>Lunes a viernes: 10:00 am a 8:00 pm</p>
                    <p>Sabado: 8:00 am a 8:00 pm</p>
                    <p>Domingo y festivos: 9:00 am a 8:00 pm</p>
                </div>
                <div class="col-12 col-md-6 col-xl-4 titulof">
                    <h4>C o n t á c t a n o s</h4>
                    <p><i class="far fa-envelope" style="color: #a52a2a;"></i>  studiotattoo&#64;tattoo.com</p>
                    <a href="https://wa.me/+573012662315?text=Estoy interesado en..." target="_blank"><i class="fab fa-whatsapp" style="color: #a52a2a;"></i> +57 3012662315</a>
                </div>
                <div class="col-12 col-md-12 col-xl-4 map titulof">
                    <h4>V i s í t a n o s</h4>
                    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7953.6785890433675!2d-74.13248775613188!3d4.62274481317037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c02e7e94713%3A0x84eeed8420ffaf97!2sParque%20Mundo%20Aventura!5e0!3m2!1ses!2sco!4v1748215312602!5m2!1ses!2sco" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="derechos">© 2025 BreidyTV <i class="far fa-heart" style="color: #a52a2a;"></i>, todos los derechos reservados.</p>
                </div>
            </div>
        </div>
</footer>

<div class="container">
    <a id="flotante" href="https://wa.me/+573012662315?text=Estoy interesado en..." target="_blank"><i class="fab fa-whatsapp" style="color: #2aa551;width: 120px;"></i></a>
</div>