<app-header></app-header>
<div class="container">
        <h2>I n i c i a r S e s i ó n</h2>
        
        <div class="col-12 login">
            <form>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Contraeña</label>
                    <input type="password" class="form-control" id="telefono">
                    <a class="url" routerLink="/recuperarPass">¿Olvidó su contraseña?</a>
                </div>
                <button type="submit" class="btn btn-primary boton">Enviar</button>               
            </form>
            
        </div>
    </div>

    <a class="btn btn-primary boton registro" routerLink="/registro">R e g i s t r a r s e</a>
<app-footer></app-footer>
