<app-menu></app-menu>

<div class="areadetrabajo">
    <div class="tituloarea">D a s h b o a r d</div>

    <div class="container">
        
        <div class="col-12 n1">
            <div class="chart-container">   
                <canvas id="myChart1" height="350px"></canvas>
            </div>            
        </div>

        <div class="col-12">
                <div class="chart-container">   
                    <canvas id="myChart2" height="150px"></canvas>
                </div>            
            </div>
    </div>

</div>
