<app-header></app-header>

<div class="container">
        <h2>R e c u p e r a r C o n t r a s e ñ a</h2>
        
        <div class="col-12 recuperar">
            <form>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
                </div>
                <div class="form-group">
                    <label for="codigoRec">Código de recuperación</label>
                    <input type="text" class="form-control" id="codigoRec" name="codigoRec" [(ngModel)]="codigoRec">
                    <p class="text">Enviado a su correo electronico</p>
                </div>
                <div class="form-group">
                    <label for="password">Nueva contraeña</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                </div>
                <button type="submit" class="btn btn-primary boton" (click)="actualizar()">A c t u a l i z a r C o n t r a s e ñ a</button>               
            </form>
            
        </div>
</div>

<app-footer></app-footer>
